h1 {
	color: green;
	font-style: italic;
}

h2 {
	font-size: 40px;
}

h3 {
	font-size: 25px;
}

.flag {
	width: 350px;
	height: auto;
}

.note {
	color: grey;
	padding-top: 3px;
	font-size: 15px;
}

.message {
	color: green;
	background: lightgrey;
	font-size: 20px;
	border-style: solid;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
}

.error {
	color: red;
	background: lightgrey;
	font-size: 20px;
	border-style: solid;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
}
